%h1 Katarzyna Leśniak
.row
  .col-md-3
    = image_tag('kaskoom.jpg')
  .col-md-6  
    Wiek: 500
    
    %br/
    %p Absolwentka AWF w Krakowie
    %p Zawodniczka sekcji wioślarskiej AZS AWF Kraków, Medalistka mistrzostw Polski
    %p Motto życiowe: Lubie placki