%nav.navbar.navbar-default
	%div.container-fluid
		%div.navbar-header
			%span.navbar-brand Coacheye
		%ul.nav.navbar-nav.navbar-right
			%li  
				=link_to root_path, class: 'btn btn-default' do
					%span.glyphicon.glyphicon-home
					%b Home	