%nav.navbar.navbar-default
	%div.container-fluid
		%div.navbar-header
			%span.navbar-brand 
				Katarzyna Leśniak - trener personalny
		%ul.nav.navbar-nav.navbar-right
			%li  
				=link_to root_path do
					%span.glyphicon.glyphicon-home
					%b Home
			%li  
				=link_to about_path do
					%span.glyphicon.glyphicon-home
					%b O mnie